.weather-app-wrapper {
max-width: 600px;
margin: 30px auto;
}

.weather-app {
max-width: 600px;
padding: 20px;
border: 1px solid rgb(223, 223, 223);
border-radius: 5px;
}

.search-form {
margin-bottom:15px;
margin-right:0px;
}

.btn-search {
color: white;
display: block;
font-family: monospace;
font-size: 18px;
background-color: #d9adad;
border: #ad9d9d;
border-radius: 10px;
margin-right:5px;
padding:9px;
}

.btn-search:hover {
color: #8d8d8d;
background-color: #fccbcb;
border: #ad9d9d;
transition: all 250ms ease-in-out;
}

.btn-current {
color: white;
display: block;
font-family: monospace;
font-size: 18px;
background-color: #835858;
border: #ad9d9d;
border-radius: 10px;
margin-left:5px;
padding:9px;
}

.btn-current:hover {
color: #8d8d8d;
background-color: #fccbcb;
border: #ad9d9d;
transition: all 250ms ease-in-out;
}

body {
color: dimgrey;
}

h1 {
font-family: monospace;
font-size: 30px;
margin-bottom:0px;
}

ul {
list-style: none;
font-family: monospace;
margin:0px;
padding:0px;
}

.last-update {
font-size: 15px;
}

.weather-description {
font-size: 30px;
font-family: monospace;
}
.weather-icon{
max-width: 150px;
margin-left: -13px;
padding-bottom: 30px;
}

.degree {
font-family: monospace;
font-size: 70px;
margin-left: 10px;
}

.celsius-far {
font-family: monospace;
font-size: 15px;
position: absolute;
margin-top: 30px;
color: black;
}

.active {
margin-left: 5px;
color: dimgrey;
cursor: default;
text-decoration: none;
}

.far {
margin-left:-5px;
}

a {
text-decoration: none;
}

.hum-wind {
font-size: 15px;
}

.forecast-row {
margin-top: 20px;
text-align: center;
}
.weather-icon-for,
.temp-for {
margin-top: 5px}

.weather-icon-for {
max-width: 50px;
}

    